spld_results/
checkpoints/
*.pyc
*.gz
*.png
*.eps
data/
losses/
__pycache__
*.py~
runs/
results/
magnet_results_old/
random_results/
results_old/
results_old2/
spl_results/
spl_advise_results/
*.pdf
magnet_results
*.txt
.DS_Store
